.Header {
	width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 60px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    z-index: 100;
}

.HeaderTitle h3{
    color: var(--secColor);
}

.HeaderNav{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.HeaderNav a{
    color: var(--secColor);
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

.HeaderNav a:hover{
    position: relative;
    bottom: 3px;
    color: var(--secColor);
}


#registerAnchor{
    border: 1px solid var(--secColor);
    padding: 5px;
    border-radius: 10px;
}

#registerAnchor:hover{
    background-color: var(--secColor);
    color: var(--mainColor);
}



